
#profile .user-image {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

#profile .user-image .action {
  width: 100%;
  bottom: 0px;

  position: absolute;
  transition: opacity linear 0.25s;
  opacity: 0;
}

#profile .user-image:hover .action {
  opacity: 1;
}

#profile .user-image * {
  border-radius: 0px;
}

#profile .user-image img {
  width: 100%;
}

#profile .panel .fa {
  text-align: center;
  width: 30px;
}

#profile .panel-primary {
  border-color: #34495e;
}

#profile .panel-primary > .panel-heading {
  background: #34495e;
  border-color: #34495e;
}
