<span id='profile'>

<div class='row vert-offset-bottom-3'>
  <div class='col-md-3'><div class='user-image'>
    <img class='img-responsive' ng-src='{{user.photo_url}}' />
    <span class='action' ng-switch='user.relationship'>
      <span ng-switch-when='self'>
        <image-input btn-style='btn btn-primary btn-block' ng-model='user.photo_url'>
          <span engrave='pencil'> Trocar Foto </span></image-input></span>
      <span ng-switch-when='friend'>
        <button class='btn btn-danger btn-block' engrave='user-times'>
          Remover Amigo </button></span>
  </span></div></div>

  <div class='col-md-8 col-md-offset-1'>
    <user-info user='user' can-edit='editable'/></div>
</div>

<div class='row vert-offset-bottom-4'>
  <div class='col-md-12'><calendar user='user' /></div>
</div>

<!-- Refazer com ngRepeat quando der -->
<div class='row'>
  <div class='col-md-6'> <div class='panel panel-primary'>
    <div class='panel-heading'> Caronas Agendadas </div>

    <div class='list-group'>
      <a class='list-group-item' engrave='home'>
        {{ 1457249400000 | date: "d 'de' MMM h:mm a" : 'UTC' }} &nbsp;
        <small class='text-muted'> Wesley Safadão </small></a>

      <a class='list-group-item' engrave='graduation-cap'>
        {{ 1457620200000 | date: "d 'de' MMM h:mm a" : 'UTC' }} &nbsp;
        <small class='text-muted'> Albert Einstein </small></a>

      <a class='list-group-item' engrave='graduation-cap'>
        {{ 1460822400000 | date: "d 'de' MMM h:mm a" : 'UTC' }} &nbsp;
        <small class='text-muted'> Em aberto </small></a>

      <a class='list-group-item' engrave='home'>
        {{ 1460829600000 | date: "d 'de' MMM h:mm a" : 'UTC' }} &nbsp;
        <small class='text-muted'> Dilma Rousseff </small></a>
    </div>
  </div></div>

  <div class='col-md-6'>
    <a class='btn btn-primary btn-block vert-offset-bottom-1' href='./procurar-bigu'> Procurar um Bigu </a>
    <a class='btn btn-primary btn-block' href='./oferecer-bigu'> Oferecer um Bigu </a>
  </div>
</div>

</span>
