
<div class='wrapper'>
  <div class='column' ng-repeat='day in Day'>
    <div class='day'> {{day}} </div>
    <div class='event bg-primary' ng-repeat='ride in user.rides | orderBy:"time" ' ng-if='ride.day === day'>
      <div> {{ride.time | time}} &nbsp;
      <i ng-class='ride.way === Way.TO? "fa fa-home" : "fa fa-graduation-cap" '></i></div>
      <div class='driver'> {{ride.driver.name}} </div>
</div></div></div>

<h5 ng-if='user.rides.length === 0' class='vert-offset-top-3 vert-offset-bottom-3'>
  NENHUM BIGU MARCADO
</h5>
