
<div class='row'>
  <div class='col-md-3 col-md-offset-2'>
    <img class='img-rounded img-responsive' ng-src='{{user.photo}}'/>
  </div>

  <div class='col-md-5 text-justify' ng-switch='user.relationship'>
    <span ng-switch-when='none'>
	  {{'YOU_AND' | translate}} <b>{{user.name}}</b> {{'NOT_FRIENDS_MESSAGE' | translate}}.

      <button class='btn btn-block btn-primary vert-offset-top-2'
        ng-click='add()' engrave='user-plus'>{{'SEND_FRIEND_REQUEST' | translate}}</button>
    </span>

    <span ng-switch-when='available'>
      <b>{{user.name}}</b> {{'FRIEND_REQUEST_MUST_BE_ACCEPTED' | translate}}.

      <button class='btn btn-block btn-primary vert-offset-top-2'
        ng-click='add()' engrave='user-plus'>{{'ACCEPT_FRIEND_REQUEST' | translate}}</button>
    </span>

    <span ng-switch-when='pending'>
      {{'YOU_AND' | translate}} <b>{{user.name}}</b> {{'PENDING_FRIENDS_MESSAGE' | translate}}.

      <button class='btn btn-block btn-danger vert-offset-top-2'
        ng-click='cancel()' engrave='user-times'>{{'CANCEL_FRIEND_REQUEST' | translate}}</button>
    </span>
  </div>
</div>
