<span id='search-rides'>

<div class='col-md-10 col-md-offset-1'>
  <div class='row vert-offset-bottom-2'><form ng-submit='search()'>

    <!-- texto/imagem e botao -->
    <div class='col-md-6'>
      <h3 class='turquoise'>{{'FIND_THE_RIDE' | translate}}</h3>

      <p class='text-justify'>{{'SEARCH_TEXT' | translate}}</p>

      <div class='form-group vert-offset-top-2'>
        <button class='btn btn-primary' type='submit'>{{'SEARCH_RIDE' | translate}}</button>
        <a href='./perfil' class='btn btn-danger'>{{'CANCEL' | translate}}</a>
      </div>
    </div>

    <!-- Campos -->
    <div class='col-md-5 col-md-offset-1 vert-offset-top-2'>

      <div class='form-group'>
        <label>{{'TO' | translate}}<div class='bootstrap-switch-square'>
          <input id='destination' type='checkbox' data-on-text='UFCG' data-off-text='CASA' checked />
      </div></label></div>

      <div class='form-group'>
        <label>{{'YOUR_ADDRESS' | translate}}</label>
        <input type='text' class='form-control vert-offset-bottom-1' ng-model='form.complement'
            pattern='.{12,}' placeholder='eg. Rua Almirante Barbosa, 438' required title='{{"INVALID_FIELD" | translate}}'/>
        <select id='district' class='select select-primary' ng-model='form.district'
            ng-options='d for d in Districts' oninvalid='$scope.invalid_field(this)' required><option></option></select>
      </div>

      <div class='form-group'>
        <label>{{'DATE' | translate}}</label>
        <input type='text' class='calendar-input form-control' placeholder= '{{"CHOOSE_DATE" | translate}}' data readonly oninvalid='$scope.invalid_field(this)' required />
      </div>

      <div class='form-group'>
        <label class='checkbox'> {{'WEEKLY' | translate}}
          <input type='checkbox' ng-model='form.weekly' class='custom-checkbox'>
          <span class='icons'><span class='icon-unchecked'></span><span class='icon-checked'></span></span>
      </label></div>

    </div>

    <span ng-init='ready()'></span>

  </form></div>

  <!-- Busca realizada -->
  <div class='row' ng-if='search_result != null'><div class='col-md-12'>

    <div class='panel panel-default'>
      <div class='panel-heading'>{{'RESULTS' | translate}}</div>

      <ul class='list-group'>
        <li class='list-group-item text-muted text-center'
            style='padding: 60px 0px' ng-if='search_result.length == 0'>
            <h6>{{'NO_RIDE' | translate}}</h6></li>

        <li class='list-group-item' ng-repeat='ride in search_result'><div class='row'>

          <div class='col-md-3'><a href='./perfil/{{ride.driver.uid}}'>
            <img class='img-responsive img-rounded' ng-src='{{ride.driver.photo}}' />
          </a></div>

          <div class='vert-offset-top-1 small'>

            <div class='col-md-2'>
              <b>{{'DRIVER' | translate}}<br>
                  {{'TIME' | translate}}<br>
                  {{'PASSENGERS' | translate}}<br>
                  {{'AVAILABLE_SEATS' | translate}}<br>
            </b></div>

            <div class='col-md-4'>
              {{ride.driver.name}} <br>
              {{ride.date | date : 'H:mm'}} <br>
              {{ride.passengers.length}} <br>
              {{ride.seats}} <br>
            </div>

          </div>

          <div class='col-md-3'>
            <button ng-click='requestRide(ride)' class='btn btn-md btn-primary pull-right'>
              {{'ASK_RIDE' | translate}}</button>
          </div>

        </div></li></ul>

        <div class='panel-footer'><div class='row'>
          <div class='col-md-8 small'>
            {{'NOTIFY_ME_MESSAGE' | translate}}.
          </div>

          <div class='col-md-4'>
            <button class='btn btn-md btn-default btn-block'>
              {{'NOTIFY_ME' | translate}}</button></div>
        </div></div>
    </div>

    <div class='text-center' ng-if='pages.length > 1'><ul class='pagination'>
      <li ng-repeat='page in pages' ng-class="form.page == page? 'active' : null">
        <a href='#' ng-click='setPage(page)'> {{page}} </a></li>
    </ul></div>

  </div></div>
</div>

<!-- modals -->
<div class='modal fade' id='modal' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form class='form-horizontal' role='form'>
        <div class='modal-header'>
          <h4>{{modal_title}}</h4>
        </div>
        <div class='modal-body'>
          <p>{{modal_message}}</p>

          <p>{{'ARE_YOU_SURE' | translate}}</p>
          <button class='btn btn-md btn-success btn-md' data-dismiss='modal'> {{'CONFIRM' | translate}} </button>
          <button class='btn btn-md btn-danger btn-md' data-dismiss='modal'> {{'CANCEL' |translate}} </button>

        </div>

        <div class='modal-footer'>
          <a class='btn btn-default' data-dismiss='modal'>{{'CLOSE' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>

</span>
