<span id='search-rides'>

<div class='col-md-10 col-md-offset-1'>
  <div class='row vert-offset-bottom-2'><form ng-submit='search()'>

    <!-- texto/imagem e botao -->
    <div class='col-md-6'>
      <h3 class='turquoise'> Ache a carona perfeita para voce! </h3>

      <p class='text-justify'>
          Está indo para a UFCG ou voltando para casa e tem medo de ser assaltado
          se for andando ou então dos outros males que nos cercam diariamente?
          Calma! Temos a carona perfeita para você! </p>

      <div class='form-group vert-offset-top-2'>
        <button class='btn btn-primary' type='submit'> Procure seu bigu! </button>
        <a href='./perfil' class='btn btn-danger'> Cancelar </a>
      </div>
    </div>

    <!-- Campos -->
    <div class='col-md-5 col-md-offset-1 vert-offset-top-2'>

      <div class='form-group'>
        <label> Destino <div class='bootstrap-switch-square'>
          <input id='destination' type='checkbox' data-on-text='UFCG' data-off-text='Casa' checked />
      </div></label></div>

      <div class='form-group'>
        <label> Seu endereço </label>
        <input type='text' class='form-control vert-offset-bottom-1' ng-model='form.complement'
            pattern='.{12,}' placeholder='eg. Rua Almirante Barbosa, 438' required />
        <select id='district' class='select select-primary' ng-model='form.district'
            ng-options='d for d in Districts' required><option></option></select>
      </div>

      <div class='form-group'>
        <label> Quando? </label>
        <input type='text' class='calendar-input form-control' placeholder='Escolha uma data' readonly required />
      </div>

      <div class='form-group'>
        <label class='checkbox'> Toda semana?
          <input type='checkbox' ng-model='form.weekly' class='custom-checkbox'>
          <span class='icons'><span class='icon-unchecked'></span><span class='icon-checked'></span></span>
      </label></div>

    </div>

    <span ng-init='ready()'></span>

  </form></div>

  <!-- Busca realizada -->
  <div class='row' ng-if='search_result != null'><div class='col-md-12'>

    <div class='panel panel-default'>
      <div class='panel-heading'> Resultados </div>

      <ul class='list-group'>
        <li class='list-group-item text-muted text-center'
            style='padding: 60px 0px' ng-if='search_result.length == 0'>
            <h6> Nenhum bigu encontrado </h6></li>

        <li class='list-group-item' ng-repeat='ride in search_result'><div class='row'>

          <div class='col-md-3'><a href='./perfil/{{ride.driver.uid}}'>
            <img class='img-responsive img-rounded' ng-src='{{ride.driver.photo}}' />
          </a></div>

          <div class='vert-offset-top-1 small'>

            <div class='col-md-2'>
              <b> Motorista <br>
                  Hora <br>
                  Passageiros <br>
                  Vagas <br>
            </b></div>

            <div class='col-md-4'>
              {{ride.driver.name}} <br>
              {{ride.date | date : 'H:mm'}} <br>
              {{ride.passengers.length}} <br>
              {{ride.seats}} <br>
            </div>

          </div>

          <div class='col-md-3'>
            <button ng-click='requestRide(ride)' class='btn btn-md btn-primary pull-right'>
              Pedir carona </button>
          </div>

        </div></li></ul>

        <div class='panel-footer'><div class='row'>
          <div class='col-md-8 small'>
            Caso você não encontre nenhuma carona que lhe agrade, podemos avisar
            assim que uma nova carona do jeito que você pediu surja. </div>

          <div class='col-md-4'>
            <button class='btn btn-md btn-default btn-block'>
              Me notifique </button></div>
        </div></div>
    </div>

    <div class='text-center' ng-if='pages.length > 1'><ul class='pagination'>
      <li ng-repeat='page in pages' ng-class="form.page == page? 'active' : null">
        <a href='#' ng-click='setPage(page)'> {{page}} </a></li>
    </ul></div>

  </div></div>
</div>

<!-- modals -->
<div class='modal fade' id='modal' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form class='form-horizontal' role='form'>
        <div class='modal-header'>
          <h4>{{modal_title}}</h4>
        </div>
        <div class='modal-body'>
          <p>{{modal_message}}</p>

          <p>Tem certeza a respeito disso?</p>
          <button class='btn btn-md btn-success btn-md' data-dismiss='modal'> Confirmar ação </button>
          <button class='btn btn-md btn-danger btn-md' data-dismiss='modal'> Cancelar </button>

        </div>

        <div class='modal-footer'>
          <a class='btn btn-default' data-dismiss='modal'>Fechar</a>
        </div>
      </form>
    </div>
  </div>
</div>

</span>
