<span id='offer-ride'>

<div class='col-md-8 col-md-offset-2'>

  <div class='vert-offset-bottom-2'>
    <h4 class='turquoise'>{{'RIDE_DETAILS' | translate}}</h4>
  </div>

  <form class='row' ng-submit='submit()'>

    <!-- checkboxes e opcoes de data e hora na esquerda -->
    <div class='col-md-4'>

      <div class='form-group'>
        <label>{{'TO' | translate}}</label>
        <div class='bootstrap-switch-square'>
          <input type='checkbox' id='destination' data-on-text='UFCG'
              data-off-text='CASA' checked /></div>
      </div>

	  <div class='form-group'>
        <label>{{'SEATS_AVAILABLE' | translate}}</label>
        <select id='seats' class='select select-primary' ng-model='form.seats'
            ng-options='num for num in seats' required>
            <option></option></select>
      </div>

      <div class='form-group'>
        <label>{{'DATE' | translate}}</label>
        <input type='text' class='calendar-input form-control'
            placeholder='{{"PICK_A_DATE" | translate}}' readonly required />
      </div>

      <div class='form-group'>
        <label class='checkbox'> {{'WEEKLY' | translate}} ?
          <input type='checkbox' ng-model='form.weekly' class='custom-checkbox'>
          <span class='icons'><span class='icon-unchecked'></span><span class='icon-checked'></span></span>
      </label></div>

    </div>

    <!-- campos textuais a direita e botao -->
    <div class='col-md-7 col-md-offset-1'>

      <div class='form-group'>
        <label>{{'YOUR_ADDRESS' | translate}} </label>
        <input type='text' class='form-control' ng-model='form.origin' pattern='.{12,}'
            placeholder='eg. Rua Almirante Barbosa, 438' required />
      </div>

      <div class='form-group'>
        <label>{{'ROUTE' | translate}}</label>
        <select id='route' class='form-control multiselect multiselect-primary'
            ng-model='form.route' ng-options='d for d in Districts' multiple required></select>
      </div>

      <div class='form-group vert-offset-top-2'>
        <button type='submit' class='btn btn-primary'>{{'OFFER_RIDE' | translate}}!</button>
        <a href='./perfil' class='btn btn-danger'>{{'CANCEL' | translate}}</a>
      </div>

    </div>
</form></div>

<span ng-init='ready()'></span>

</span>
