

<div id='welcome' class='col-md-8 col-md-offset-2 text-center'>
  <div class='img-container'><img src='#'></div>

  <h3> Bem-vindo ao Garupa.com! </h3>
  <p class='lead vert-offset-bottom-2'>
    Consiga ou ofereça carona para a Universidade e faça novas amizades! </p>

  <button class='btn btn-primary btn-lg' id='signUpForm' ng-click='toggleForm()'>
    Cadastre-se </button>
</div>

<div class='col-md-6 col-md-offset-3'>
  <form style='display: none' ng-submit='submit()'>
    <div class='form-group'>
      <label> Nome </label>
      <input ng-model='form.name' type='text' class='form-control'
          placeholder='eg. Fulaninho da Silva' spellcheck='false' required>
    </div>

    <div class='form-group'>
      <label> Matrícula </label>
      <input ng-model='form.uid' pattern='[0-9]{9}' type='text' class='form-control'
          placeholder='eg. 114110376' spellcheck='false' required>
    </div>

    <div class='form-group'>
      <label> E-mail </label>
      <input ng-model='form.email' type='text' pattern='.+@.+\..+$' class='form-control'
          placeholder='eg. fulano.silva@email.com' spellcheck='false' required>
    </div>

    <div class='form-group'>
      <label> Senha </label>
      <input ng-model='form.passwd' type='password' class='form-control' required>
    </div>

    <div class='form-group'>
      <label> Confirmar Senha </label>
      <input type='password' class='form-control' required>
    </div>

    <div class='form-group'>
      <label class='checkbox'>
        <input type='checkbox' data-toggle='checkbox' class='custom-checkbox' required>
        <span class='icons'><span class='icon-unchecked'></span><span class='icon-checked'></span></span>
        <b>Eu aceito</b> os termos de uso e tal. <a href='#'> Termo de uso. </a>
      </label>
    </div>

    <button class='btn btn-primary' type='submit'> Sign Up </a>
  </form>

</div>
