
navigation-bar .logo {
  padding: 10px 10px 0px 10px;
}

navigation-bar .logo img {
  height: 35px;
}

navigation-bar .dropdown img {
  width: 24px;
  margin: -5px 10px -2px 0px;
}

navigation-bar .navbar .nav-icon {
  padding: 15px 10px;
}

navigation-bar input {
  margin-left: 2px;
}
