
<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'><div class='col-md-10 col-md-offset-1'>

    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'> Toggle navigation </span>
      </button>

      <a class='navbar-brand logo' href='./'>
        <img src='/assets/img/logo-small.png'></a>
      <a class='navbar-brand' href='./'> Garupa.com </a>
    </div>

    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right' ng-if='Users.logged'>
        <li><a href='#' class='nav-icon'><i class='fa fa-comments fa-lg'></i></a></li>
        <li><a href='./notificacoes' class='nav-icon'><i class='fa fa-bell fa-lg'></i></a></li>

        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
            <img class='img-circle' ng-src='{{Users.logged.photo}}'>
            <span> {{Users.logged.name}} </span>
            <b class='caret'></b>
          </a>

          <ul class='dropdown-menu'>
            <li><a href='./perfil'> Meu perfil </a></li>
            <li><a href='#'> Configurações </a></li>
            <li><a href='#' ng-click='logout()'> Sair </a></li>
        </ul></li>
      </ul>

      <ul class='nav navbar-nav navbar-right' ng-if='showForm()'>
        <form class='navbar-form navbar-right' ng-submit='login(form)'>
          <div class='form-group'>
            <input type='text' placeholder='Matrícula' ng-model='form.uid' class='form-control'>
            <input type='password' placeholder='Senha' ng-model='form.passwd' class='form-control'></div>
          <button type='submit' class='btn btn-primary'> Entrar </button>
      </form></ul>
    </div>

  </div></div>
</div>
