<div>
  <div>
    <h4 >Diz tu!</h4>
  </div>

  <div>
    <table class='table table-hover table-responsive'>

      <tr>
        <th> Donturem</th>
        <td>
          <input
                  bs-switch
                  ng-model="isSelected"
                  type="checkbox"
                  switch-active="{{ isActive }}"
                  switch-on-text="{{ onText }}"
                  switch-off-text="{{ offText }}"
                  switch-on-color="{{ onColor }}"
                  switch-off-color="{{ offColor }}"
                  switch-animate="{{ animate }}"
                  switch-size="{{ size }}"
                  switch-label="{{ label }}"
                  switch-icon="{{ icon }}"
                  switch-radio-off="{{ radioOff }}"
                  switch-label-width="{{ labelWidth }}"
                  switch-handle-width="{{ handleWidth }}"
                  switch-wrapper="{{ wrapper }}"
                  ng-true-value="'yep'"
                  ng-false-value="'nope'"
                  switch-inverse="{{ !inverse }}">
        </td>
      </tr>

      <tr>
        <th> Pronturai </th>
        <td>
          <input placeholder="Bairro" ng-model="carona.destino">
        </td>
      </tr>

      <tr>
        <th> Que dia? </th>
        <td>
          <input placeholder="dd/mm/aaaa" ng-model="carona.data">
        </td>
      </tr>

      <tr>
        <th> Que hora? </th>
        <td>
          <input placeholder="hh:mm" ng-model="carona.hora">
        </td>
      </tr>

    </table>
  </div>

  <button type="button" class="btn btn-default">Oferece o teu bigu!</button>
</div>