<div class="offer">
  <div>
    <h4 >Poste uma carona!</h4>
  </div>

  <div>
    <table class='table table-hover table-responsive'>

      <tr>
        <th> Saindo de: </th>
        <td>
          <input type="radio" name="where" value="Casa" ng-model="carpool.from" ng-change="setDefaultTo()"/> Casa
          <input type="radio" name="where" value="UFCG" ng-model="carpool.from" /> UFCG
        </td>
      </tr>

      <tr>
        <th> Indo para: </th>
        <td>
          <input ng-if="carpool.from == 'UFCG'" ng-model="carpool.to" id="adress" type="text" data-source="{{dataSource}}" data-items="4" data-provide="typeahead" placeholder="Bairro" required/>
          <input type="text" placeholder="UFCG" value="UFCG" ng-if="carpool.from == 'Casa'" readonly disabled unselectable/>
        </td>
      </tr>

      <tr>
        <th> Que dia? </th>
        <td>
          <select class="form-control" ng-model="carpool.day">
            <option value="Domingo">Domingo</option>
            <option value="Segunda">Segunda</option>
            <option value="Terça">Terça</option>
            <option value="Quarta">Quarta</option>
            <option value="Quinta">Quinta</option>
            <option value="Sexta">Sexta</option>
            <option value="Sabado">Sábado</option>
          </select>
        </td>
      </tr>

      <tr>
        <th> Que hora? </th>
        <td>
          <input type="time" ng-model="carpool.time"/> <!-- usar isso mesmo?????????????? -->
        </td>
      </tr>

    </table>

    <!--table class='table table-responsive'>
      <tr><th> Busco carona para:</th><td><input type="checkbox" data-on-text="UFCG" data-off-text="Casa" data-off-color="warning" id="way-cb" data-label-text="UFCG"></td></tr>
      <tr><th> No dia : </th><td> <input type="text" placeholder="Escolha uma data" id="date"> </td></tr>
      <tr><th> Na hora : </th><td> <input id="time" type="text" required> </td></tr>
    </table!-->
  </div>

  <button type="button" class="btn btn-success">Oferece o teu bigu!</button>
</div>
