
<div class='modal fade'><div class='modal-dialog'><div class='modal-content'>

  <div class='modal-header'>
    <h6 class='modal-title' translate='RIDE_INFORMATION'></h6>
  </div>

  <div class='modal-body'>
    <div class='vert-offset-bottom-1'>
      <small>{{'DRIVER' | translate}}:</small> &nbsp;
      <a href='#' ng-click='go(ride.driver.uid)'> {{ride.driver.name}} </a>
    </div>

    <div class='row vert-offset-bottom-1'>
      <div class='col-md-4'>
        <small>{{'TO' | translate}}:</small> &nbsp; {{ride.dest == Destination.HOME? 'HOME' : 'UFCG'| translate}} <br>
        <small>{{'WEEKLY' | translate}}:</small> &nbsp; {{(ride.weekly ? 'YES' : 'NO') | translate}} <br>
        <small>{{'AVAILABLE_SEATS' | translate}}:</small> &nbsp; {{ride.seats}}
      </div>

      <div class='col-md-8'>
        <small>{{'DATE' | translate}}:</small> &nbsp; {{ride.date | date : "d"}} {{'OF' | translate}} {{ride.date | date : "MMMM"}}<br>
        <small>{{'DAY' | translate}}:</small> &nbsp; {{ride.date | date : 'EEEE'}} <br>
        <small>{{'TIME' | translate}}:</small> &nbsp; {{ride.date | date : "H:mm"}}
    </div></div>

    <div class='vert-offset-bottom-1'>
      {{'ROUTE' | translate}}:<br><small ng-repeat='district in ride.route'>
        {{district}} &nbsp;&nbsp;&nbsp; </small>
    </div>

    <div> {{'PASSENGERS' | translate}}: <br>
      <small ng-if='ride.passengers.length == 0' class='text-muted'>
		{{'NO_PASSENGERS' | translate}}
      </small>
      <div ng-repeat='user in ride.passengers'>
        <a href='#' ng-click='go(user.uid)'> {{user.name}} </a> &nbsp;
        <small class='text-muted'> {{user.address.complement}} </small> &nbsp;
        <small> ({{user.address.district}}) </small>
    </div></div>

  </div>

  <div class='modal-footer'>
    <button class='btn btn-default' data-dismiss='modal'> {{'CLOSE' | translate}} </button>
    <button class='btn btn-danger' data-dismiss='modal' ng-click='cancelRide()' ng-if='!frozen'>
    {{'CANCEL_RIDE' | translate}}</button>
  </div>

</div></div></div>
