
<div ng-controller="loginController as login">
  <div id="menu-bar">
        <span>{{ log-in }}</span>
  </div>

  <div id="sign-up">

    <form>

      <label class="login-field-icon fui-user" for="login-name"></label>
      <input type="text" id="login-name" placeholder="Email" spellcheck="false">
      <br>      

      <label class="login-field-icon fui-lock" for="login-pass"></label>
      <input type="password" placeholder="Senha" value="">
      <br><br>

      <a class="btn btn-primary btn-block btn-large">Inscreva-se</a>

    </form>

  </div>
</div>