	
	body {
		margin: 0;
		padding: 0;
	}

	.container {
		width: 700px;
		height: 1000px;
		padding-top: 50px;
		padding-bottom: 300px;
		position: relative;
		margin: 0 auto 40px;
		-webkit-perspective: 800px;
		   -moz-perspective: 800px;
		     -o-perspective: 800px;
		        perspective: 800px;
	}

	#welcome {
		/*display: none;*/
		position: relative;
		text-align: center;
	}

	#welcome .btn {
		width: 60%;
    	font-size: 16pt;
    	margin: 0 auto;
	}

	#welcome .img-container {
		width: 60%;
		height: 180px;
		border: 1px solid #dde;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
	}

	.sign-up {
		/*display: none;*/
		margin: 0 auto;
	    position: relative;
	    width: 55%;
	}

	.sign-in {
		/*display: none;*/
	}
