
.img-container {
	width: 60%;
	height: 160px;
	border: 1px solid #dde;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.sign-up, .form-recover-msg {
	display: none;
}

.sign-in .lnk {
	float: right;
    font-size: 16px;
}
