
<div ng-controller="homeController">

	<div id="menu-bar">
		<span> <!-- menu-superior --> </span>
	</div>

	<section class="container">

		<div class="sign-up">  

			<form name='form-sign-up'>

				<label class="" for="label-email"></label>
				<input id="label-email" ng-model="form.email" type="text" placeholder="Email" spellcheck="false">
				<br>      

				<label class="" for="label-passwd"></label>
				<input id="label-passwd" ng-model="form.password" type="password" placeholder="Senha">
				<br><br>

				<a class="" ng-click="signUp()"> Sign Up </a>

			</form>

		</div>

		<div class="sign-in">

			<form name='form-sign-in'>

				<label class="" for="user-email"></label>
				<input name="user-email" ng-model="user.email" type="text" placeholder="Email" spellcheck="false">
				<br>      

				<label class="" for="user-passwd"></label>
				<input name="user-passwd" ng-model="user.password" type="password" placeholder="Senha">
				<br><br>

				<a class="" ng-click="signIn()"> Log In </a>

			</form>

		</div>

	</section>

</div>