
<div ng-controller="loginController">

	<section class="container">

		<div class="sign-in">

			<form name='form-sign-in'>

				<label class="" for="user-email">Email</label>
				<input name="user-email" ng-model="user.email" type="text" 
					class="form-control" placeholder="Email" spellcheck="false" required>
				<br>      

				<label class="" for="user-passwd">Senha</label>
				<input name="user-passwd" ng-model="user.password" type="password" 
					class="form-control" placeholder="Senha" required>
				<br>

				<a href="#profile" class="btn btn-primary" ng-click="signIn()"> Sign In </a>

				<a href="#recover" class="lnk" > Esqueci minha senha </a>

			</form>

		</div>

	</section>

</div>