
navigation-bar .logo {
  padding: 0 10px;
}

navigation-bar .logo img {
  height: 50px;
}

navigation-bar .dropdown img {
  width: 20px;
  margin-right: 10px;
}

navigation-bar .navbar .nav-icon {
  padding: 15px 10px;
}
