<div class="container" id="main">
  <h5>Notifica&ccedil;&otilde;es recentes</h5>
  <form>
    <ol class="list-group list_of_items">
		<li class='list-group-item'>
			<div class='text_holder'>
				Einsten aceitou o seu pedido de carona.
				<button><li class="fa fa-times"></li></button>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='text_holder'>
				Alguém quer pegar seu bigu!
				<button><li class="fa fa-times"></li></button>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='text_holder'>
				Safadão avaliou você: "Melhor bigu que já peguei".
				<button><li class="fa fa-times"></li></button>
			</div>
		</li>
    </ol>
  </form>

</div>
