<span id='offer-ride'>

<div class='row text-center vert-offset-bottom-2'>
  <h4> Detalhes da Carona </h4>
</div>

<form class='row'><div class='col-md-8 col-md-offset-2'>

  <!-- checkboxes e opcoes de data e hora na esquerda -->
  <div class='col-md-4'>

    <div class='form-group'>
      <label> Partida </label>
      <div class='bootstrap-switch-square'>
        <input type='checkbox' id='origin' data-on-text='UFCG' data-off-text='Casa' checked /></div>
    </div>

    <div class='form-group'>
      <label> Toda semana? </label>
      <div class='bootstrap-switch-square'>
        <input type='checkbox' id='repeat' data-on-text='Sim' data-off-text='Não' /></div>
    </div>

    <div class='form-group'>
      <label> Quando? </label>
      <input type='text' placeholder='Escolha uma data' class='calendar-input form-control' readonly required />
    </div>

  </div>

  <!-- campos textuais a direita e botao -->
  <div class='col-md-7 col-md-offset-1'>

    <div class='form-group'>
      <label> Destino </label>
      <input type='text' class='form-control' placeholder='Bairro' required />
    </div>

    <div class='form-group'>
      <label> Por onde você passa? </label>
      <select id='route' class='form-control multiselect multiselect-primary' ng-model='carpool.route'
          ng-options='d for d in Districts' multiple required></select>
    </div>

    <div class='form-group vert-offset-top-2'>
      <button type='submit' class='btn btn-primary btn-block'>
          Oferece o teu bigu! </button>
      <a href='#/perfil' class='btn btn-danger btn-block'>
          Cancelar </a>
    </div>

  </div>

</div></form>

<span ng-init='ready()'></span>

</span>
