
#profile-pic {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

#profile-pic img {
  width: 100%;
}

#profile-pic .action {
  width: 100%;
  bottom: 0px;

  position: absolute;
  transition: opacity linear 0.25s;
  opacity: 0;
}

#profile-pic:hover .action {
  opacity: 1;
}

#profile-pic * {
  border-radius: 0px;
}

.panel .fa {
  text-align: center;
  width: 30px;
}

.panel-primary {
  border-color: #34495e;
}

.panel-primary > .panel-heading {
  background: #34495e;
  border-color: #34495e;
}
