
<div class='row vert-offset-bottom-4'>
  <div class='col-md-3'>
    <div id='profile-pic'>
      <img class='img-responsive' ng-src='{{user.photo_url}}'/>
      <span class='action'>
        <image-input btn-style='btn btn-primary btn-block' ng-model='user.photo_url' ng-if='signed'>
          <span engrave='pencil'> Trocar Foto </span></image-input>
        <button class='btn btn-danger btn-block' ng-if='!signed' engrave='user-times'>
          Remover Amigo </button>
      </span>
    </div>
  </div>
  
  <div class='col-md-8 col-md-offset-1'>
    <user-info user='user'/>
  </div>
</div>

<div class='row vert-offset-bottom-2'>
  <div class='col-md-12'><calendar user='user'/></div>
</div>

<div class='row' ng-if='signed'>
  <div class='col-md-3 col-md-offset-6'>
    <button class='btn btn-primary btn-block'> Procurar um Bigu </button>
  </div>

  <div class='col-md-3'>
    <button class='btn btn-primary btn-block'> Oferecer um Bigu </button>
  </div>
</div>
