
<div class='row vert-offset-bottom-4'>
  <div class='col-md-3'>

    <div id='profile-pic'>
      <img class='img-responsive' ng-src='{{user.photo_url}}'/>
      <span class='action'>
        <button class='btn btn-primary btn-block btn-sm' ng-if='signed'>
          <i class='fa fa-pencil'></i> &nbsp; Trocar Foto </button>
        <button class='btn btn-danger btn-block btn-sm' ng-if='!signed'>
          <i class='fa fa-user-times'></i> &nbsp; Remover Amigo </button>
      </span>
    </div>

  </div>
  <div class='col-md-8 col-md-offset-1'>

    <table class='table table-hover'>
      <tr ng-repeat='info in table'>
        <th> {{info.name}} </th><td> {{info.data}} </td>
        <td><a ng-if='signed'>
          <i class='fa fa-pencil'></i> &nbsp; Editar </a></td>
      </tr>
    </table>

  </div>
</div>

<div class='row vert-offset-bottom-2'>
  <div class='col-md-12'><calendar user='user'/></div>
</div>

<div class='row' ng-if='signed'>
  <div class='col-md-3 col-md-offset-6'>
    <button class='btn btn-primary btn-block'> Procurar um Bigu </button>
  </div>

  <div class='col-md-3'>
    <button class='btn btn-primary btn-block'> Oferecer um Bigu </button>
  </div>
</div>
