
.search-box {
  padding: 2%;
  background-color: white;
}

.ride-box {
    background-color: white;
    margin: 1%;
}

.img-profile {
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.not-found-box {
  margin: 2%;
  padding: 2%;
  background-color: white;
}

.inline {
  display: inline;
}

h3 {
  color: #1ab4bc;
}
