<div id='footer'>
  <div class='container'>
    <div class='col-md-10 col-md-offset-1'>	
	  
	  <div class='navbar-text pull-left'>
		<span> Garupa © 2016 | 4Xemeas+1 Inc. </span>
	    <span translate='WE_WANT_YOU'></span>
	  </div>
		
	  <div class='navbar-text pull-right'>
	    <span translate='CHOOSE_LANGUAGE'></span>
		  <a href='#'><img src='/assets/img/br.png' ng-click='changeLanguage("pt-br")'></a>
		  <a href='#'><img src='/assets/img/us.png' ng-click='changeLanguage("en-us")'></a>
	  </div>
	  
    </div>
  </div>      
</div>
