
#notifications .filters .title {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

#notifications .filters .option {
    font-size: 14px;
}

#notifications .filters ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

#notifications .filters li {
    margin-bottom: 4px;
}

#notifications .filters a {
    color: #666;
}

#notifications .filters a:hover {
    color: #16a085;
}

#notifications .filters .selected {
    font-weight: bold;
}


#notifications .list .title {
    font-size: 16px;
}

#notifications .list .element {
    font-size: 14px;
    padding: 15px;
    border-width: 1px 0px 0px 0px;
    border-color: #f0f0f0;
    border-style: solid;
}

#notifications .list .element .address {
    padding-left: 10px;
    margin: 0px 0px 5px 5px;
    border-left: 1px solid #16a085;
}

#notifications .list .element.empty {
    text-align: center;
    font-size: 20px;
    padding: 30px;
    color: #bbb;
}

#notifications .list .element:hover {
    border-color: #e0e0e0;
    background-color: #f9f9f9;
}

#notifications .list .element .icons {
    cursor: default;
    visibility: hidden;
    font-size: 18px;
}

#notifications .list .element:hover .icons {
    visibility: visible;
}

#notifications .list .element .icons span {
    padding: 5px;
    cursor: pointer;
}

#notifications .list .element .icons span:hover {
    color: black;
}

#notifications .list .date {
    color: #888;
}
