
#notification {
	border-radius: 5px;
	width: 60%;
}

#notification form li {
	background-color: #ffde99;
	margin-bottom: 10px;
}

#notification form li .pull-right:hover {
	cursor: pointer;
	color: black;
}

#notification form li h6 {
	font-size: 16pt;
}

#notification form li p {
	font-size: 12pt;
}

#notification form li:hover {
	cursor: default;
	background-color: #fff289;
}

#notification form .without-notifications {
	color: #777;
	display: none;
}

#notification .rating span {
	cursor: pointer;
}

#notification .rating span:hover {
	color: lightblue;
}

.list-group-item {
	border-color: #f3db99;
}

.list-group-item-heading img {
	width: 30px;
	height: 30px;
	float : left;
}

.list-group-item-heading span {
	margin-left: 5px;
}

