
<div class="container" id="notification">
  <div class="notificationsNav">
    <ul>
      <li class="lnk"> Notifica&ccedil;&otilde;es</li>
      <li class="selected">
        <a href="#">Todas as notifica&ccedil;&otilde;es</a>
      </li>
      <br>
      <li class="lnk">Filtrar por tipo</li>
      <li class="selected">
        <a href="#">Recentes</a> 
      </li>      
      <li class="selected">
        <a href="#">Pedidos de Amizade</a> 
      </li>
      <li class="selected">
        <a href="#">Pedidos de Carona</a>
      </li>
      <li class="selected">
        <a href="#">Caronas encontradas</a>
      </li>
      <li class="selected">
        <a href="#">Avalia&ccedil;&otilde;es</a>
      </li>
    </ul>
  </div>
  <div class="notificationsList">
    <span class="lnk">Todas as notifica&ccedil;&otilde;es</span>
    <form> 
      <ol class="list-group list_of_items">
        <li class="list-group-item" ng-repeat="notification in notifications_list" 
          ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">

          <!-- Friend request -->
          <div ng-if="notification.type == FRIEND_REQUEST">
            <span class="fa fa-remove pull-right" ng-show="removable" ng-click="delete($index)"></span>
            <div class="list-group-item-heading">
              <img class='img-responsive img-rounded' src='{{ notification.associatedUser.photo }}'/>
              <span> <a href="#"> {{ notification.associatedUser.name }} </a> {{ notification.message }}</span>
              <br><span class="date">{{ notification.date }}</span>
            </div>
            <p class="list-group-item-text">{{ notification.associatedUser.message }} </p>
             <span class="friend-request">
                <button class="btn btn-block btn-lg btn-primary" ng-click="acceptFriendRequest($index, notification.associatedUser.uid)">
                  Adicionar aos amigos!
                </button>
             </span>
          </div>

          <!-- Friend request successful -->
          <div ng-if="notification.type == NEW_FRIEND">
            <span class="fa fa-remove pull-right" ng-show="removable" ng-click="delete($index)"></span>
            <div class="list-group-item-heading">
              <img class='img-responsive img-rounded' src='{{ notification.associatedUser.photo }}'/>
              <span> <a href="#"> {{ notification.associatedUser.name }} </a> {{ notification.message }}</span>
              <br><span class="date">{{ notification.date }}</span>
            </div>
            <p class="list-group-item-text">{{ notification.associatedUser.message }} </p>
          </div>

          <!-- Ride found -->
          <div ng-if="notification.type == RIDE_FOUND">
            <span class="fa fa-remove pull-right" ng-show="removable" ng-click="delete($index)"></span>
            <div class="list-group-item-heading" ng-click="showInfo()">
            <img class='img-responsive img-rounded' src="https://cdn4.iconfinder.com/data/icons/map/500/map-2-512.png"/>
              <span> {{ notification.message }} </span>
              <br><span class="date">{{ notification.date }}</span>
            </div>
            <p class="list-group-item-text">{{ notification.associatedUser.message }} </p>
            <div ng-show="notification.associatedUser.rides.length != 0 && displayInfo" class="info">
              <div ng-repeat=" ride in notification.associatedUser.rides">
                <span> Motorista : <a href="#"> {{ ride.driver }} </a></span><br>
                <span> Nº de vagas : {{ ride.numberOfVacancies }} </span> <br>
                <span> Data : <a href="#"> {{ ride.date }} </a></span> <br>
                <span> Para : <a href="#"> {{ notification.ride }} </a></span> <br>
                <span> Semanal : {{ ride.weekly ? "Sim" : "Não" }} </span> <br>
                <span> Passageiros :
                  <a href="#" ng-repeat="passenger in ride.passengers"> {{ passenger.uid }} </a> 
                </span>
              </div>
            </div>
          </div>

          <!-- Ride request -->
          <div ng-if="notification.type == RIDE_REQUEST">
            <span class="fa fa-remove pull-right" ng-show="removable" ng-click="delete($index)"></span>
            <div class="list-group-item-heading">
              <img class='img-responsive img-rounded' src='{{ notification.associatedUser.photo }}'/>
              <span> <a href="#"> {{ notification.associatedUser.name }} </a> {{ notification.message }}</span>
              <br><span class="date">{{ notification.date }}</span>
            </div>
            <p class="list-group-item-text">{{ notification.associatedUser.message }} </p>
          </div>

        </li>
      </ol>
    </form>
  </div>
  
</div>
