<span id='notifications'>
<ride-info show='showRide' frozen='true'></ride-info>

<div class='row'>
  <div class='filters col-md-3'>
    <ul>
      <li class='title'>{{'FILTER_IMPORTANCE' | translate}}</li>

      <li class='option' ng-class="filter.seen == false? 'selected' : null">
        <a href='#' ng-click='filter.seen = false'>{{'RECENT_NOTIFICATIONS' | translate}}</a></li>

      <li class='option' ng-class="filter.seen == true? 'selected' : null">
        <a href='#' ng-click='filter.seen = true'>{{'FILED_NOTIFICATIONS' | translate}}</a></li>
    </ul>

    <ul>
      <li class='title'>{{'FILTER_TYPE' | translate}}</li>

      <li class='option' ng-class="filter.type == undefined? 'selected' : null">
        <a href='#' ng-click='filter.type = undefined'>{{'ALL' | translate}}</a></li>

      <li class='option' ng-class="filter.type == 'FRIEND'? 'selected' : null">
        <a href='#' ng-click="filter.type = 'FRIEND'">
          {{'NEW_FRIEND' | translate}}</a></li>

      <li class='option' ng-class="filter.type == 'RIDE'? 'selected' : null">
        <a href='#' ng-click="filter.type = 'RIDE'">
          {{'NEW_RIDE' | translate}}</a></li>
    </ul>
  </div>

  <div class='list col-md-9'>
    <div class='title'>{{'NOTIFICATIONS' | translate}}</div>

    <div class='element empty' ng-if='filtered().length == 0'>
      {{'NO_NOTIFICATION' | translate}}
    </div>

    <div class='element' ng-repeat="notification in filtered()">
      <div class='row' ng-switch='notification.type'>

        <span ng-switch-when='FRIEND_REQUEST'>
          <div class='col-md-1'>
            <img class='img-responsive img-circle' src='{{notification.data.user.photo}}'/>
          </div>

          <div class='col-md-5'>
            <a href='./perfil/{{notification.data.user.uid}}'>
              {{notification.data.user.name}} </a> {{'HAS_SENT_A_FRIEND_REQUEST' | translate}} <br>
            <span class='date'> {{notification.timestamp | date: "d, MMMM, H:mm"}} </span>
          </div>

          <div class='col-md-4'>
            <button class='btn btn-sm btn-wide btn-success'
                ng-if='!notification.seen' ng-click='acceptFriend(notification)'>
              {{'ADD_FRIEND' | translate}} </button>
          </div>
        </span>

        <span ng-switch-when='NEW_FRIEND'>
          <div class='col-md-1'>
            <img class='img-responsive img-circle' src='{{notification.data.user.photo}}'/>
          </div>

          <div class='col-md-9'>
            <a href='./perfil/{{notification.data.user.uid}}'>
              {{notification.data.user.name}} </a> {{'HAS_ACCEPTED_YOUR' | translate}} {{'FRIEND_REQUEST' | translate}} <br>
            <span class='date'> {{notification.timestamp | date: "d, MMMM, H:mm"}} </span>
          </div>
        </span>

        <!--span ng-switch-when='RIDE_FOUND'>
          <div class="list-group-item-heading">
          <img class='img-responsive img-rounded' src="https://cdn4.iconfinder.com/data/icons/map/500/map-2-512.png"/>
            <span> Uma carona surgiu </span>
            <br><span class="date">{{ notification.timestamp | data }}</span>
          </div>
          <div ng-show="notification.associatedUser.rides.length != 0 && active == notification.nid" class="info">
            <span> Motorista : <a href="./perfil/{{notification.data.user.uid}}"> {{ notification.data.user.name }} </a></span><br>
            <span> Nº de vagas : {{ notification.data.ride.seats }} </span> <br>
            <span> Data : <a href='#'> {{ notification.data.ride.date | date }} </a></span> <br>
            <span> Para : <a href='#'> {{ notification.data.ride.dest }} </a></span> <br>
            <span> Semanal : {{ notification.data.ride.weekly ? "Sim" : "Não" }} </span> <br>
            <span> Passageiros :
              <a href="./perfil/{{passenger.uid}}" ng-repeat="passenger in notification.data.ride.passengers"> {{ passenger.uid }} </a>
            </span>
          </div>
        </span-->

        <span ng-switch-when='RIDE_REQUEST'>
          <div class='col-md-1'>
            <img class='img-responsive img-circle' src='{{notification.data.user.photo}}'/>
          </div>

          <div class='col-md-5'>
            <a href='./perfil/{{notification.data.user.uid}}'>
              {{notification.data.user.name}} </a> {{'WANTS_TO_JOIN' | translate}}
            <a href='#' ng-click='showRide(notification.data.ride)'> {{'RIDE' | translate}} </a>

            <div class='address'>
              {{'DISTRICT' | translate}}: &nbsp {{notification.data.district}} <br>
              {{'ADDRESS' | translate}}: &nbsp {{notification.data.complement}}
            </div>

            <span class='date'> {{notification.timestamp | date: "d, MMMM, H:mm"}} </span>
          </div>

          <div class='col-md-4'>
            <button class='btn btn-sm btn-success'
                ng-if='!notification.seen' ng-click='acceptRide(notification)'>
              {{'ACCEPT' | translate}}</button>
          </div>
        </span>

        <span ng-switch-when='RIDE_ACCEPTED'>
          <div class='col-md-1'>
            <img class='img-responsive img-circle' src='{{notification.data.user.photo}}'/>
          </div>

          <div class='col-md-9'>
            <a href='./perfil/{{notification.data.user.uid}}'>
              {{notification.data.user.name}} </a> {{'HAS_ACCEPTED_YOUR' | translate}}
            <a href='#' ng-click='showRide(notification.data.ride)'> {{'RIDE' | translate}} </a><br>
            <span class='date'> {{notification.timestamp | date: "d, MMMM, H:mm"}} </span>
          </div>
        </span>

        <div class='icons col-md-2' align='right'>
          <span class='fa fa-eye' ng-if='!notification.seen' ng-click='archive(notification)'
              title='{{"FILE" | translate}}'></span>

          <span class='fa fa-remove' ng-click='remove(notification)'
              title='{{"REMOVE" | translate}}'></span>
        </div>

      </div>
    </div>

  </div>
</div>

</span>
